<div class="main col-sm-9 col-sm-offset-5 col-md-10 col-md-offset-2"
     ng-controller="GroupController as model">
    <a href="#/group">
        <div style="position: absolute; top: 0; left: 0;">
            <button class="btn btn-default"
                    ng-click= "s =1" >
                <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
            </button>
        </div></a>

    <h1>Create Group</h1>
    <h3  style="color: orange" >Group Name: {{model.currentGroup.title}}
    </h3><br>

    <div style="float: right">


    </div>


    <p>A user can add users to groups</p>
    <br/>
    <div class="table-responsive darker padding-all-sides" >

        </br>
        <br>
        <table  class="table table-bordered table-striped"   border="3" style="border-collapse:collapse" >

            <tbody>
            <tr>
                <th>User Name</th>
            </tr>
            <tr ng-repeat="user in model.usersOfCurrentGroup">
                <td>
                    <h3>{{user.username}}</h3>

                </td>

            </tr>
            </tbody>
        </table>

        <table  class="table table-bordered table-striped"   border="3" style="border-collapse:collapse" >

            <tbody>
            <tr>
                <th> Received Notes</th>
            </tr>
            <tr ng-repeat="note in model.currentGroup.receivesNotes">
                <td>
                    <h3>{{note.title}}</h3>

                </td>

            </tr>
            </tbody>
        </table>

    </div>
</div>



