<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        <li><a href="../home/home.view.html"> <span class="glyphicon glyphicon-home" aria-hidden="home"> Home <span class="sr-only">(current)</span></a></li>
        <li><a href="../users/profile.view.html" ><span class="glyphicon glyphicon-user" aria-hidden="user"> Profile</a></li>
        <li class="active"><a href="#"><span class="glyphicon glyphicon-eye-open" aria-hidden="admin"> Admin</a></li>
        <li><a href="../forms/forms.view.html"><span class="glyphicon glyphicon-file" aria-hidden="forms"> Forms</a></li>
    </ul>


</div>