.transparent
{
    -webkit-appearance: none;
    outline: none;
    border: 0;
    background: transparent;
}



table.borderless td {
    border-top: none !important;
}

.darker {border: 1px solid black}


.row {
    clear: both;
}


.col-6 {
    float: left;
    width: 50%;
    padding-top: 10px;
    padding-bottom: 10px;
}

}

.col-4 {
    float: left;
    width: 33.33%;
}




.col-8 {
    float: left;
    width: 66.66%;
}



.container {

    width: 100%;
}

button.dark-background
{background-color: #8c8c8c;}

div.padding-all-sides
{padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 50px;
    padding-left: 10px;}

.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;}

table.bordered-dark {
    border: 0.5px solid #000000;
}

button.fill-color
{background-color: #0066ff;
}